<!-- extend base layout -->
{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- buttons for control -->

        <div class="row" id="table-toolbar">
            <!-- set rows per page -->
            <div class="col-sm-2 col-md-2 pull-left">
                <span class="page-list">
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="page-size">10</span> <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="menuitem" class="active"><a href="#">10</a></li>
                                <li role="menuitem"><a href="#">25</a></li>
                                <li role="menuitem"><a href="#">50</a></li>
                                <li role="menuitem"><a href="#">100</a></li>
                                <li role="menuitem"><a href="#">All</a></li>
                            </ul>
                    </div>
                    per Page
                </span>
            </div>

            <div class="col-sm-4 col-md-4 pull-left">
                <!-- search bar -->
                <div class="table-search-bar">
                    <form class="table-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- table tools -->
            <div class="col-sm-4 col-md-3 pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-download-alt"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">csv</a></li>
                            <li><a href="#">pickle</a></li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>

                </div>
            </div>
        </div>

        <div class="row" id="df-table" style="padding-top: 30px;">
            <!-- table of data -->
            <div class="table-responsive">
                {{ html_table|safe }}
            </div>
        </div>

        <div class="row" id="table-pagination">
            <div class="col-md-4 pull-left" id="pagination-info">
                <h5 style="margin-top:30px; margin-bottom:30px">
                    {{ pagination.info() }}
                </h5>
            </div>
            <!-- pagination page links -->
            <div class="col-md-4 pull-right" id="pagination-pages" style="padding-top: 5px;">
                <ul class="pagination pagination-centered">
                    {% if pagination.has_prev %}
                        <li><a href="{{ url_for_other_page(pagination.page - 1)
                            }}">&laquo</a></li>
                    {% else %}
                        <li class="disabled"><a>&laquo</a></li>
                    {% endif %}
                    {%- for page in pagination.iter_pages() %}
                        {% if page %}
                            {% if page != pagination.page %}
                            <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                            {% else %}
                                <li class="active"><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                            {% endif %}
                        {% else %}
                            <li><span class=ellipsis>…</span></li>
                        {% endif %}
                    {%- endfor %}
                    {% if pagination.has_next %}
                        <li><a href="{{ url_for_other_page(pagination.page + 1)
                            }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a>&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>

{% endblock %}
