<!-- extend base layout -->
{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- buttons for control -->

        <div class="row" id="table-head">
            <!-- search bar -->
            <div class="col-sm-4 col-md-4 pull-right">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-md" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="df-table">
            <!-- table of data -->
            <div class="table-responsive">
                {{ html_table|safe }}
            </div>
        </div>

        <div class="row" id="table-pagination">
            <!-- pagination part -->
            <div class="col-md-4 pull-right">
                <ul class="pagination pagination-centered">
                    {% if pagination.has_prev %}
                        <li><a href="{{ url_for_other_page(pagination.page - 1)
                            }}">&laquo</a></li>
                    {% else %}
                        <li class="disabled"><a>&laquo</a></li>
                    {% endif %}
                    {%- for page in pagination.iter_pages(left_edge=2, right_edge=1, left_current=0, right_current=1) %}
                        {% if page %}
                            {% if page != pagination.page %}
                            <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                            {% else %}
                                <li class="active"><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                            {% endif %}
                        {% else %}
                            <li><span class=ellipsis>…</span></li>
                        {% endif %}
                    {%- endfor %}
                    {% if pagination.has_next %}
                        <li><a href="{{ url_for_other_page(pagination.page + 1)
                            }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a>&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>

{% endblock %}
