<!-- extend base layout -->
{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- buttons for control -->

        <div class="row">

            <!-- search bar -->
            <div class="col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

            <!-- pagination part -->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <ul class="pagination pagination-centered">
                    {% if pagination.has_prev %}
                        <li><a href="{{ url_for_other_page(pagination.page - 1)
                            }}">&laquo Previous</a></li>
                    {% else %}
                        <li class="disabled"><a>&laquo Previous</a></li>
                    {% endif %}
                    {%- for page in pagination.iter_pages(left_edge=2, right_edge=1, left_current=0, right_current=1) %}
                        {% if page %}
                            {% if page != pagination.page %}
                            <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                            {% else %}
                                <li class="active"><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                            {% endif %}
                        {% else %}
                            <li><span class=ellipsis>…</span></li>
                        {% endif %}
                    {%- endfor %}
                    {% if pagination.has_next %}
                        <li><a href="{{ url_for_other_page(pagination.page + 1)
                            }}">Next &raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a>Next &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="row">
            <!-- table of data -->
            <div class="table-responsive">
                {{ html_table|safe }}
            </div>
        </div>
    </div>

{% endblock %}
